/* NAVAGATION BAR START - NAVAGATION BAR START -  */

* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(0,0,0);
    display: flex;
    width: auto;
    height: 70px;
    color: white;
    align-items: center;

}

.nav-links{
    margin-top: 10px;
    display: flex;
    gap: 40px;
    flex: 2;
    font-family:'Roboto', sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
    color: white;
}

.nav-title{
    font-family:'Roboto', sans-serif;
    padding-right: 70px;
    flex: 1;
    text-align: right;
}

.btn{
    margin-left: 200px;
    background-color: rgb(54, 193, 224);   
    color: white;    
    font-family:'Roboto', sans-serif bold;
    font-weight: bold;
    border: black 3px solid;
    box-shadow: 3px 3px 1px 1px rgb(0, 0, 0);
    width: 35%;
    height: 30px;
    margin-bottom: 10px ;
}
/* NAVAGATION BAR END - NAVAGATION BAR  END  */

/* COVER BLOCk START -  COVER BLOCk START - */
.container{
    width: 575px;
    margin: 40px 300px;
}

#avatar{
    position:absolute;
    top: 150px;
    left: 404px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#edit-profile-text-decoration{
    color: blue;
    text-decoration: underline;
}

.user-card{
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-left: 60px;
}
/* EDUCATION BLOCK START - EDUCATION BLOCK START - */
.education{
    display: flex;
    flex-direction: column;
    height: 250px;
    border: rgb(193,193,193) 2px solid;
    margin-top: 30px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size: x-large;
}


#education-background{
    background-color: black;
    color: white;
    height: 35px;
    text-align: left;
    font-family:'Roboto', sans-serif;
    padding-left: 50px;
    padding-top: 10px;
}
#dojo-title{
    height:15px;
    font-size: x-large;
    padding-right: 80px;
    font-weight: bold;
    padding-bottom: 10px;
}

#dates{
    padding-top: 20px;
    text-align: left;
    padding-left: 33px;
    font-size: medium;
    padding-bottom: 10px;
}

#belts{
    padding-top: 10px;
    font-weight: bold;
}


/* EDUCATION BLOCK END - EDUCATION BLOCK END */
.header{
    background-color: rgb(20,162,184);
    flex: 1;
}

.card-body{
    background-color: rgb(255, 255, 255);
    border: rgb(193,193,193) 2px solid;
    text-align: left;
    padding: 40px;
    padding-top: 70px;
    font-family: sans-serif;
    flex: 2;
}

#map-marker{
    height: 20px;
    width: 15px;
    margin-top: 20px;
}

#skills, #brief-description {
    margin: 20px auto;
}

#gear-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

/* COVER BLOCk END - COVER BLOCk END - */

/* CONTAINER-2 BLOCK START - CONTAINER-2 BLOCK START */

.container-2{
    border: rgb(193,193,193) 2px solid;
    width: 400px;
    height: 200px;
    margin: 20px 20px;
    position: absolute;
    top:  90px;
    left: 905px;
}

#header-request-spacing{
    padding-right: 13px;
    padding-left: 13px;
    background-color: white;
    color: black;
    border-radius: 40%;
    margin-right: 10px; 
}

#todd-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#todd-text{
    padding-left: 40px;
    position: absolute;
    bottom: 83px;
}

#phil-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#phil-text{
    padding-left: 40px;
    position: absolute;
    bottom: 23px;
}

.connection-requests{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 40px;
    font-family:'Roboto', sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-top: 25px;
    font-weight: bolder;
    font-size: large;
    
    
}

#header-requests{
    color: white;
    margin-bottom: 20px;
}

#accept-icon{
    height: 45px;
    width: 45px;
    margin-left: 190px;
    
}

#accept-icon2{
    height: 45px;
    width: 45px;
    margin-left: 190px;
}

#decline-icon{
    height: 45px;
    width: 45px;
}

#decline-icon2{
    height: 45px;
    width: 45px;
}
/* CONTAINER-2 BLOCK END - CONTAINER-2 BLOCK END */


/* CONTAINER-3 BLOCK START - CONTAINER-3 BLOCK START */

.container-3{
    border: rgb(193,193,193) 2px solid;
    width: 400px;
    height: 390px;
    margin: 20px 20px;
    position: absolute;
    top: 318px;
    left: 905px;    

}

.your-connections{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 40px;
    font-family:'Roboto', sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-top: 25px;
    font-weight: bolder;
    font-size: large;
}

#your-requests{
    color: white;
    margin-bottom: 45px;
}

#header-request-spacing2{
    padding-right: 13px;
    padding-left: 13px;
    background-color: white;
    color: black;
    border-radius: 40%;
    margin-right: 10px; 
}

#adrien-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 60px;
}

#adrien-text{
    position: absolute;
    bottom: 255px;
    left: 108px;
}

#anne-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 60px;
}

#anne-text{
    position: absolute;
    bottom: 194px;
    left: 108px;
}

#alayne-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 60px;
}

#alayne-text{
    position: absolute;
    bottom: 128px;
    left: 108px;
}

#array-picture{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 60px;
}

#array-text{
    position: absolute;
    bottom: 61px;
    left: 108px;
}


/* CONTAINER-3 BLOCK END - CONTAINER-3 BLOCK END -  */

/* CONTAINER-4 BLOCK START - CONTAINER-4 BLOCK START - */

.container-4{
    border: rgb(193,193,193) 2px solid;
    width: 360px;
    height: 37px;
    margin: 20px 20px;
    position: absolute;
    top: 710px;
    left: 905px;
    padding: 20px;
    font-size: x-large;
}
.view-more{
    color: black;
}
#view-more-link{
    color: blue;
    text-decoration: underline;
}

/* CONTAINER-4 BLOCK END - CONTAINER-4 BLOCK END -*/

